@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {


  /*=======  TRANSITION =======*/
  --transition: all 400ms ease-in-out;
}

.container {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

section {
  padding: 1.5rem 0;
}

img {
  width: 100%;
  object-fit: cover;
  display: block;
}

input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: inherit;

}

.btn {
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  cursor: pointer;
  font-family: inherit;
}


body {
  font-family: "Urbanist", "Nunito";
  background-color: aliceblue;
  color: black;
  /* background-color: red; */
}

nav {
  background-color: burlywood;
  width: 100vw;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.nav__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

.search__box {
  display: flex;
  align-items: center;
}

.search__box input {
  background-color: transparent;
  padding: 0.5rem;
  border-bottom: 1px solid grey;
}

.nav__more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

.nav__cart {
  position: relative;
}

.icon {
  font-size: 1.5rem;
}

.items {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgb(128, 128, 128);
  display: grid;
  place-items: center;
}

.nav__sec {
  padding: 1rem 0;
  width: 100svw;
}

.nav__sec-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

/*=========== Landing Page ========*/

.header__img {
  margin: 1.5rem 0 3rem;
}

/*=========== Categories ========*/


.cat__header {
  display: flex;
  justify-content: space-between;
}

/*=========== Register Page ========*/

.register__container {
  display: grid;
  place-content: center;
  height: 100vh;
}

.reg {
  /* height: 80vh; */
  padding: 1.5rem 2rem;
  background-color: gray;
  min-width: 300px;
  border-radius: 2rem;
}

.register__header {
  text-align: center;
  margin-bottom: 2.5rem;
}

.reg-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.user__avatar {
  text-align: center;
  margin-bottom: 0.5rem;
}

.agree {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.agree input {
  cursor: pointer;
}

.submit-btn {
  background-color: green;
  color: whitesmoke;
}


/*=========== CATEGORIES  ========*/

.cat__main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 2.5rem 0;
}

.cover__img {
  position: relative;
}

.cat__title {
  position: absolute;
  background-color: brown;
  top: 0.5rem;
  left: 0.8rem;
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  transition: var(--transition);
  cursor: pointer;
}

.cat__title:hover {
  background-color: red;
}

/*=========== BLOG ========*/

/* .blog__container {
  padding: 2rem 0;
} */

.blog__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.blog__container main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}


#blog__main {
  position: relative;
}

#blog__main img {
  height: 100%;
}

/* 
#blog__main _1 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
} */


.blog__more,
#blog__more {
  position: absolute;
  border: 1px solid white;
  border-radius: 0.2rem;
  padding: 0.3rem;
  top: 0.5rem;
  left: 1rem;

}

.blog__title,
#blog__title {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.blog__other {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog__other article {
  position: relative;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: red;
}

.newslet__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub__people img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.newsletter p {
  width: 60%;
}

section button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

/*======== Best Seller ==========*/


.bsell__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.bestseller__container main {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.bsell__info {
  padding: 0.5rem 0;
}

.prices {
  display: flex;
  gap: 1rem;
  align-items: first baseline;
}

.prices h3 {
  opacity: 0.6;
  text-decoration: line-through;
}




/*======== Offer ==========*/

.offer__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-content: center;
}

.offer__right {
  padding: 3rem 2rem;
  background-color: rgb(233, 233, 233);
  color: black;
}

.offer__right p {
  margin: 1.5rem 0 2.5rem;
}


.offer__sub {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  gap: 1.5rem;
}

.offer__sub input {
  display: flex;
  flex: 1;
}

.btn-go {
  background-color: red;
  padding: 0.4rem 1rem;
  color: white;
}




/*======== Footer ==========*/

footer {
  padding: 3rem 0 0;
}

.main__footer {
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  margin-bottom: 1.5rem;
}


.footer__right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.footer__copywrite {
  padding: 0.5rem 0;
  display: grid;
  place-content: center;
}